/* my-css.css 

This custom stylesheet is based on "BEM naming convention"

Block = .my-blockname
Element = .my-blocknamek_element
Modifier = .my-blockname_element--modifier /or/ .my-blockname--modifier

*/

/********** BLOCKS **********/
.my-container--relative {
    position: relative;
    min-height: 100%;
}
.my-content_wrapper {
    position: absolute;
    top: 0;
    left: 0;
}
.my-footer_wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.my-footer--background {
    background: rgba(0,0,0,.8);
}
.my-icon {
    height: 1.5rem;
    padding-right: 10px;
}
/* .my-card_content {
    height: 80px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    word-wrap: break-word;
} */
.my-link--white {
    color: white;
}
.my-carousel {
    height: 50vh;
}
.my-carousel_img {
    height: 50vh;
    object-fit: cover;
}
.my-card--shadow {
    box-shadow: 2px 2px 2px lightgrey;
    /* border: 1px solid lightgrey; */
}
.my-card--shadow:hover {
    box-shadow: 5px 5px 5px lightgrey;
}
.my-flex_dir--col {
    flex-direction: column;
}
.my-btn--round {
    border-radius: 0px;
}
.my-quantity {
    width: 50px;
}
/********** ELEMENTS **********/

/********** MODIFIERS **********/
/* .my-fixed-right {
    right:0;
} */
