/* FONTS section ----------------------------------------------------------*/ 
@font-face {
    font-family: monoton; /* for Brand Logo */
    src: url('../../fonts/Monoton/Monoton-Regular.ttf');
}
@font-face {
    font-family: montserrat-italic;
    src: url('../../fonts/Montserrat/Montserrat-Italic.ttf');
}
@font-face {
    font-family: montserrat-thin;
    src: url('../../fonts/Montserrat/Montserrat-Thin.ttf');
}
@font-face {
    font-family: montserrat-light;
    src: url('../../fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face {
    font-family: montserrat-regular;
    src: url('../../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: montserrat-medium;
    src: url('../../fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: montserrat-bold;
    src: url('../../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: montserrat-black;
    src: url('../../fonts/Montserrat/Montserrat-Black.ttf');
}
@font-face {
    font-family: montserrat-extrabold;
    src: url('../../fonts/Montserrat/Montserrat-ExtraBold.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Cantarell');
@import url('https://fonts.googleapis.com/css?family=Cabin');
/* COLORS section ----------------------------------------------------------*/
:root {
    --myBlackOpa1: rgba(0,0,0,0.75);
    --myBlackOpa2: rgba(0,0,0,0.2);
    --myBlackOpa3: rgba(0,0,0,0.05);
    --myBlackText: #212529;
    --myGray: ;
    --myWhiteOpa1: rgba(255,255,255,0.6);
    --myBlueGray1: #3E5062;
    --myBlueGray2: #2B3843;
    --myYellow: #EDFF00;
    --myOrange: #E6461A; 

    /* --------- Black | D ---------- */
    --myColorD1: rgba(0,0,0,0.75);
    --myColorD2: rgba(0,0,0,0.5);
    --myColorD3: ;
    /* --------- White | L ---------- */
    --myColorL1: ;
    --myColorL2: ;
    --myColorL3: ;
    /* --------- Primary | A -------- */
    --myColorA1: ;
    --myColorA2: ;
    --myColorA3: ;
    /* --------- Secondary | B------- */
    --myColorB1: ;
    --myColorB2: ;
    --myColorB3: ;
    /* --------- Accent | C---------- */
    --myColorC1: ;
    --myColorC2: ;
    --myColorC3: ;
    /* --------- My New Color Pallet---------- */
    --myColor-white: rgb(255, 255, 255);
    /* Hot */
    --myColor-hot-orange: #F7A027;
    --myColor-hot-red: #BA2B07;
    /* Cool */
    --myColor-cool-leaf: #07C01C;
    --myColor-cool-forest: #0A453F;
    /* Cold */
    --myColor-cold-jade: #15C848;
    --myColor-cold-fancy: #0B4060;
}
.myBg-bluegray1 {
    background-color: var(--myBlueGray1);
}
.bg-light {
    background-color: var(--myColor-hot-red);
}